.p-Home.Main {
max-width: 100vw;
width: 100%;
min-height: 100vh;
font-family: IBM Plex Sans;
color: ;
display: block;
visibility: visible;
box-sizing: border-box;
overflow: hidden;
}
.p-Home.Header {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
max-width: ;
row-gap: ;
box-sizing: border-box;
}
.p-Home.Flex2 {
display: flex;
align-items: center;
justify-content: space-between;
width: 85%;
max-width: 1215px;
row-gap: ;
padding-top: 40px;
box-sizing: border-box;
}
.p-Home.Div2 {
width: 30%;
max-width: 203px;
padding-bottom: 13px;
}
.p-Home.Flex3 {
display: flex;
}
.p-Home.Flex4 {
display: flex;
align-items: center;
justify-content: space-between;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}
.p-Home.Intro {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
max-width: ;
row-gap: ;
}
.p-Home.Flex22 {
display: flex;
width: 85%;
max-width: 1215px;
padding-top: 70px;
padding-bottom: 20px;
align-items: center;
justify-content: space-between;
}
.p-Home.Flex23 {
display: flex;
width: 60%;
padding-top: 100px;
padding-bottom: 100px;
box-sizing: border-box;
margin-top: -50px;
flex-direction: column;
align-items: flex-start;
justify-content: center;
}
.p-Home.Div12 {
max-width: 590px;
box-sizing: border-box;
margin-top: 25px;
margin-bottom: 40px;
width: 100%;
display: block;
align-self: flex-start;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 22px;
line-height: 150%;
}
.p-Home.Div13 {
display: block;
width: 100%;
}
.p-Home.Flex24 {
display: flex;
align-items: stretch;
justify-content: flex-start;
width: 100%;
max-width: 372px;
}
.p-Home.Div14 {
box-sizing: border-box;
position: relative;
}
.p-Home.Flex25 {
display: flex;
margin-left: 40px;
justify-content: center;
align-items: center;
}
.p-Home.Div9 {
width: 43%;
max-width: 500px;
box-sizing: border-box;
position: relative;
}
.p-Home.Trusted {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
max-width: ;
row-gap: ;
padding-top: 80px;
padding-bottom: 80px;
}
.p-Home.Flex27 {
display: flex;
max-width: 862px;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
}
.p-Home.Flex28 {
display: flex;
width: 100%;
margin-top: 40px;
row-gap: 16px;
column-gap: 100px;
}
.p-Home.Div17 {
width: 25%;
box-sizing: border-box;
display: block;
align-self: center;
}
.p-Home.Div18 {
width: 25%;
box-sizing: border-box;
display: block;
}
.p-Home.Div19 {
width: 25%;
box-sizing: border-box;
}
.p-Home.Div20 {
width: 25%;
box-sizing: border-box;
display: block;
}
.p-Home.Service {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
max-width: ;
row-gap: ;
}
.p-Home.Flex29 {
display: flex;
width: 85%;
max-width: 1098px;
flex-direction: column;
align-items: center;
justify-content: center;
padding-top: 80px;
padding-bottom: 80px;
}
.p-Home.Div24 {
display: block;
align-self: auto;
}
.p-Home.Div22 {
margin-top: 20px;
margin-bottom: 110px;
max-width: 810px;
}
.p-Home.Div69 {
display: block;
align-self: auto;
text-align: center;
}
.p-Home.Div70 {
display: inline-block;
}
.p-Home.Flex30 {
display: flex;
width: 100%;
row-gap: 16px;
column-gap: 90px;
align-items: center;
justify-content: space-between;
}
.p-Home.Div26 {
display: block;
align-self: flex-start;
}
.p-Home.Div29 {
margin-bottom: 25px;
max-width: 85%;
}
.p-Home.Div32 {
display: block;
}
.p-Home.Div33 {
display: block;
align-self: center;
margin-bottom: 10px;
}
.p-Home.Div37 {
display: inline-block;
margin-left: 10px;
}
.p-Home.Div40 {
display: block;
align-self: center;
margin-bottom: 10px;
}
.p-Home.Div38 {
display: inline-block;
margin-left: 10px;
}
.p-Home.Div43 {
display: block;
align-self: center;
margin-bottom: 10px;
}
.p-Home.Div42 {
display: inline-block;
margin-left: 10px;
}
.p-Home.Div55 {
display: block;
align-self: flex-start;
}
.p-Home.Div53 {
display: block;
}
.p-Home.Div50 {
display: block;
align-self: center;
margin-bottom: 10px;
}
.p-Home.Div44 {
display: inline-block;
margin-left: 10px;
}
.p-Home.Div51 {
display: block;
align-self: center;
margin-bottom: 10px;
}
.p-Home.Div47 {
display: inline-block;
margin-left: 10px;
}
.p-Home.Div52 {
display: block;
align-self: center;
margin-bottom: 10px;
}
.p-Home.Div48 {
display: inline-block;
margin-left: 10px;
}
.p-Home.Div54 {
margin-bottom: 25px;
max-width: 85%;
}
.p-Home.Div67 {
display: block;
align-self: flex-start;
}
.p-Home.Div65 {
display: block;
}
.p-Home.Div62 {
display: block;
align-self: center;
margin-bottom: 10px;
}
.p-Home.Div56 {
display: inline-block;
margin-left: 10px;
}
.p-Home.Div63 {
display: block;
align-self: center;
margin-bottom: 10px;
}
.p-Home.Div59 {
display: inline-block;
margin-left: 10px;
}
.p-Home.Div64 {
display: block;
align-self: center;
margin-bottom: 10px;
}
.p-Home.Div60 {
display: inline-block;
margin-left: 10px;
}
.p-Home.Div66 {
margin-bottom: 25px;
max-width: 85%;
}
.p-Home.Projects {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
max-width: ;
row-gap: ;
overflow: hidden;
height: ;
background-color: transparent;
position: relative;
z-index: 2;
flex-direction: column;
}
.p-Home.Flex35 {
display: flex;
width: 85%;
max-width: 1215px;
padding-top: 80px;
align-items: center;
justify-content: space-between;
}
.p-Home.Div74 {
;
}
.p-Home.Div76 {
display: inline-block;
}
.p-Home.Div77 {
margin-top: 20px;
display: block;
}
.p-Home.Div75 {
position: relative;
}
.p-Home.Flex43 {
display: flex;
flex-direction: column;
width: 85%;
max-width: 1215px;
align-items: center;
justify-content: space-between;
padding-top: 65px;
padding-bottom: 80px;
position: relative;
}
.p-Home.Flex34 {
display: flex;
padding-top: ;
position: relative;
width: 100%;
max-width: ;
padding-bottom: ;
justify-content: space-between;
align-items: center;
column-gap: 25px;
flex-direction: row;
}
.p-Home.Flex36 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
background-color: #ffffff;
width: ;
min-width: 40%;
}
.p-Home.Div79 {
padding-top: 32px;
padding-right: 32px;
padding-bottom: 32px;
padding-left: 32px;
width: ;
display: block;
align-self: flex-start;
}
.p-Home.Div80 {
;
}
.p-Home.Div81 {
margin-top: 15px;
margin-bottom: 20px;
}
.p-Home.Div83 {
align-self: center;
display: inline-block;
box-sizing: border-box;
}
.p-Home.Flex39 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
background-color: #ffffff;
width: ;
min-width: 40%;
}
.p-Home.Div95 {
padding-top: 32px;
padding-right: 32px;
padding-bottom: 32px;
padding-left: 32px;
width: ;
display: block;
align-self: flex-start;
}
.p-Home.Div92 {
align-self: center;
display: inline-block;
box-sizing: border-box;
}
.p-Home.Div93 {
margin-top: 15px;
margin-bottom: 20px;
}
.p-Home.Div94 {
;
}
.p-Home.Flex40 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
background-color: #ffffff;
width: ;
min-width: 40%;
}
.p-Home.Div99 {
padding-top: 32px;
padding-right: 32px;
padding-bottom: 32px;
padding-left: 32px;
width: ;
display: block;
align-self: flex-start;
}
.p-Home.Div96 {
align-self: center;
display: inline-block;
box-sizing: border-box;
}
.p-Home.Div97 {
margin-top: 15px;
margin-bottom: 20px;
}
.p-Home.Div98 {
;
}
.p-Home.Flex41 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
background-color: #ffffff;
width: ;
min-width: 40%;
}
.p-Home.Div103 {
padding-top: 32px;
padding-right: 32px;
padding-bottom: 32px;
padding-left: 32px;
width: ;
display: block;
align-self: flex-start;
}
.p-Home.Div100 {
align-self: center;
display: inline-block;
box-sizing: border-box;
}
.p-Home.Div101 {
margin-top: 15px;
margin-bottom: 20px;
}
.p-Home.Div102 {
;
}
.p-Home.Flex42 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
background-color: #ffffff;
width: ;
min-width: 40%;
}
.p-Home.Div107 {
padding-top: 32px;
padding-right: 32px;
padding-bottom: 32px;
padding-left: 32px;
width: ;
display: block;
align-self: flex-start;
}
.p-Home.Div104 {
align-self: center;
display: inline-block;
box-sizing: border-box;
}
.p-Home.Div105 {
margin-top: 15px;
margin-bottom: 20px;
}
.p-Home.Div106 {
;
}
.p-Home.Flex44 {
display: flex;
align-items: center;
justify-content: center;
column-gap: 10px;
width: 54px;
height: 54px;
position: absolute;
background-color: #ffffff;
bottom: 0;
z-index: 3;
}
.p-Home.Div110 {
display: block;
width: 45px;
height: ;
align-self: center;
text-align: center;
}
.p-Home.Flex45 {
display: flex;
align-items: center;
justify-content: center;
column-gap: 10px;
width: 54px;
height: 54px;
position: absolute;
background-color: #ffffff;
bottom: 0;
right: 0;
z-index: 4;
}
.p-Home.Div112 {
display: inline-block;
width: 45px;
text-align: center;
}
.p-Home.Blog {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
max-width: ;
row-gap: ;
border-color: #000000;
height: px;
background-color: #000000;
margin-top: -238px;
position: relative;
z-index: 1;
color: ;
padding-top: 200px;
box-sizing: border-box;
flex-direction: row;
overflow: visible;
}
.p-Home.Flex46 {
display: flex;
width: 85%;
max-width: 1215px;
padding-top: 80px;
padding-bottom: ;
justify-content: space-between;
align-items: flex-start;
margin-bottom: 80px;
position: static;
box-sizing: content-box;
background-color: #000000;
align-content: stretch;
height: auto;
overflow: visible;
}
.p-Home.Div114 {
position: sticky;
padding-bottom: 140px;
top: 25px;
width: 37%;
box-sizing: border-box;
float: none;
clear: none;
display: block;
align-self: auto;
overflow: visible;
}
.p-Home.Div116 {
display: inline-block;
}
.p-Home.Div117 {
margin-top: 20px;
display: block;
}
.p-Home.Div154 {
display: block;
box-sizing: border-box;
}
.p-Home.Div118 {
display: inline-block;
box-sizing: border-box;
}
.p-Home.Div152 {
display: inline-block;
box-sizing: border-box;
margin-left: 19px;
}
.p-Home.Div115 {
width: 57%;
margin-top: 40px;
box-sizing: border-box;
}
.p-Home.Div119 {
display: block;
margin-bottom: 65px;
padding-bottom: 30px;
}
.p-Home.Flex47 {
display: flex;
align-items: center;
}
.p-Home.Div122 {
display: block;
margin-bottom: ;
padding-bottom: ;
align-self: auto;
box-sizing: border-box;
position: static;
}
.p-Home.Div123 {
width: 14px;
height: 14px;
margin-left: 19px;
display: inline-block;
}
.p-Home.Div124 {
width: ;
height: ;
margin-left: ;
display: inline-block;
}
.p-Home.Div127 {
display: block;
margin-bottom: 32px;
padding-bottom: ;
align-self: auto;
box-sizing: border-box;
position: static;
margin-top: 13px;
width: 90%;
}
.p-Home.Div133 {
display: block;
margin-bottom: 65px;
padding-bottom: 30px;
}
.p-Home.Div131 {
display: block;
margin-bottom: 32px;
padding-bottom: ;
align-self: auto;
box-sizing: border-box;
position: static;
margin-top: 13px;
width: 90%;
}
.p-Home.Div132 {
display: block;
margin-bottom: ;
padding-bottom: ;
align-self: auto;
box-sizing: border-box;
position: static;
}
.p-Home.Div128 {
width: ;
height: ;
margin-left: ;
display: inline-block;
}
.p-Home.Div129 {
width: 14px;
height: 14px;
margin-left: 19px;
display: inline-block;
}
.p-Home.Flex49 {
display: flex;
align-items: center;
}
.p-Home.Div139 {
display: block;
margin-bottom: 65px;
padding-bottom: 30px;
}
.p-Home.Div137 {
display: block;
margin-bottom: 32px;
padding-bottom: ;
align-self: auto;
box-sizing: border-box;
position: static;
margin-top: 13px;
width: 90%;
}
.p-Home.Div138 {
display: block;
margin-bottom: ;
padding-bottom: ;
align-self: auto;
box-sizing: border-box;
position: static;
}
.p-Home.Div134 {
width: ;
height: ;
margin-left: ;
display: inline-block;
}
.p-Home.Div135 {
width: 14px;
height: 14px;
margin-left: 19px;
display: inline-block;
}
.p-Home.Flex50 {
display: flex;
align-items: center;
}
.p-Home.Div145 {
display: block;
margin-bottom: 65px;
padding-bottom: 30px;
}
.p-Home.Div143 {
display: block;
margin-bottom: 32px;
padding-bottom: ;
align-self: auto;
box-sizing: border-box;
position: static;
margin-top: 13px;
width: 90%;
}
.p-Home.Div144 {
display: block;
margin-bottom: ;
padding-bottom: ;
align-self: auto;
box-sizing: border-box;
position: static;
}
.p-Home.Div140 {
width: ;
height: ;
margin-left: ;
display: inline-block;
}
.p-Home.Div141 {
width: 14px;
height: 14px;
margin-left: 19px;
display: inline-block;
}
.p-Home.Flex51 {
display: flex;
align-items: center;
}
.p-Home.Div151 {
display: block;
margin-bottom: 65px;
padding-bottom: 30px;
}
.p-Home.Div149 {
display: block;
margin-bottom: 32px;
padding-bottom: ;
align-self: auto;
box-sizing: border-box;
position: static;
margin-top: 13px;
width: 90%;
}
.p-Home.Div150 {
display: block;
margin-bottom: ;
padding-bottom: ;
align-self: auto;
box-sizing: border-box;
position: static;
}
.p-Home.Div146 {
width: ;
height: ;
margin-left: ;
display: inline-block;
}
.p-Home.Div147 {
width: 14px;
height: 14px;
margin-left: 19px;
display: inline-block;
}
.p-Home.Flex52 {
display: flex;
align-items: center;
}
.p-Home.Product_design {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
max-width: ;
row-gap: ;
background-color: #ffffff;
overflow: hidden;
flex-direction: column;
margin-top: 80px;
}
.p-Home.Flex57 {
display: flex;
width: 85%;
max-width: 1215px;
padding-top: 80px;
padding-bottom: 80px;
align-items: center;
justify-content: space-between;
}
.p-Home.Div155 {
width: 52%;
display: block;
align-self: flex-start;
}
.p-Home.Div157 {
display: inline-block;
}
.p-Home.Div158 {
;
}
.p-Home.Div156 {
width: 55%;
align-self: auto;
line-height: 40px;
font-family: IBM Plex Sans;
font-size: 22px;
color: #666666;
font-weight: 600;
}
.p-Home.Flex58 {
display: flex;
width: 85%;
max-width: 1215px;
row-gap: 16px;
column-gap: 16px;
align-items: flex-start;
justify-content: space-between;
padding-bottom: 80px;
align-content: stretch;
align-self: auto;
box-sizing: border-box;
background-clip: border-box;
-webkit-background-clip: border-box;
}
.p-Home.Div159 {
width: 29%;
height: 60vh;
}
.p-Home.Div160 {
width: 42%;
height: 60vh;
min-width: ;
min-height: px;
}
.p-Home.Flex59 {
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
width: 29%;
row-gap: 16px;
column-gap: 16px;
height: 60vh;
}
.p-Home.Div161 {
width: 100%;
height: 48.5%;
max-height: 48.5%;
}
.p-Home.Div162 {
width: 100%;
height: 48.5%;
max-height: 48.5%;
}
.p-Home.Experiance {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
max-width: ;
row-gap: ;
background-color: #ffffff;
}
.p-Home.Flex60 {
display: flex;
align-items: flex-start;
justify-content: space-between;
width: 85%;
max-width: 1215px;
padding-top: 80px;
padding-bottom: 80px;
}
.p-Home.Div163 {
width: 48%;
}
.p-Home.Flex61 {
display: flex;
align-items: flex-end;
justify-content: space-between;
margin-bottom: 35px;
padding-bottom: 40px;
position: relative;
border-radius: ;
border-bottom-color: #e5e5e5ff;
border-bottom-style: solid;
border-bottom-width: 1px;
}
.p-Home.Div165 {
;
}
.p-Home.Div166 {
margin-left: 20px;
}
.p-Home.Flex62 {
display: flex;
align-items: flex-end;
justify-content: space-between;
margin-bottom: 35px;
padding-bottom: 40px;
position: relative;
border-radius: ;
border-bottom-color: #e5e5e5ff;
border-bottom-style: solid;
border-bottom-width: 1px;
}
.p-Home.Div167 {
margin-left: 20px;
}
.p-Home.Div168 {
;
}
.p-Home.Flex63 {
display: flex;
align-items: flex-end;
justify-content: space-between;
margin-bottom: 35px;
padding-bottom: 40px;
position: relative;
border-radius: ;
border-bottom-color: #e5e5e5;
border-bottom-style: solid;
border-bottom-width: 1px;
}
.p-Home.Div169 {
margin-left: 20px;
}
.p-Home.Div170 {
;
}
.p-Home.Div177 {
width: 48%;
display: inline;
}
.p-Home.Flex66 {
display: flex;
align-items: flex-end;
justify-content: space-between;
margin-bottom: 35px;
padding-bottom: 40px;
position: relative;
border-radius: ;
border-bottom-color: #e5e5e5;
border-bottom-style: solid;
border-bottom-width: 1px;
}
.p-Home.Div175 {
margin-left: 20px;
flex-shrink: 2;
}
.p-Home.Flex69 {
display: flex;
align-items: center;
justify-content: flex-start;
}
.p-Home.Div176 {
margin-left: 20px;
display: inline-block;
flex-shrink: 1;
min-width: 180px;
}
.p-Home.Div179 {
display: inline-block;
align-self: center;
}
.p-Home.Flex71 {
display: flex;
align-items: flex-end;
justify-content: space-between;
margin-bottom: 35px;
padding-bottom: 40px;
position: relative;
border-radius: ;
border-bottom-color: #e5e5e5;
border-bottom-style: solid;
border-bottom-width: 1px;
}
.p-Home.Flex70 {
display: flex;
}
.p-Home.Div188 {
display: inline-block;
align-self: center;
}
.p-Home.Div189 {
margin-left: 20px;
display: inline-block;
min-width: 180px;
}
.p-Home.Div190 {
margin-left: 20px;
}
.p-Home.Flex73 {
display: flex;
align-items: flex-end;
justify-content: space-between;
margin-bottom: 35px;
padding-bottom: 40px;
position: relative;
border-radius: ;
border-bottom-color: #e5e5e5;
border-bottom-style: solid;
border-bottom-width: 1px;
}
.p-Home.Flex72 {
display: flex;
}
.p-Home.Div191 {
display: inline-block;
align-self: center;
}
.p-Home.Div192 {
margin-left: 20px;
display: inline-block;
}
.p-Home.Div193 {
margin-left: 20px;
}
.p-Home.Testominal {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
max-width: ;
row-gap: ;
background-color: #ffffff;
flex-direction: column;
}
.p-Home.Flex75 {
display: flex;
width: 85%;
max-width: 1215px;
flex-direction: column;
padding-top: 80px;
align-items: flex-start;
justify-content: space-between;
}
.p-Home.Div194 {
display: inline-block;
}
.p-Home.Div195 {
margin-top: 20px;
}
.p-Home.Flex76 {
display: flex;
width: 85%;
max-width: 1215px;
align-items: center;
justify-content: space-between;
padding-top: 80px;
padding-bottom: 160px;
position: relative;
overflow: hidden;
}
.p-Home.Flex79 {
display: flex;
align-items: center;
justify-content: center;
position: relative;
}
.p-Home.Flex77 {
display: flex;
width: 100%;
align-items: flex-end;
justify-content: space-between;
min-width: 100%;
position: relative;
}
.p-Home.Div197 {
position: relative;
width: 48%;
max-width: 485px;
height: 450px;
border-radius: 8px;
}
.p-Home.Div198 {
width: 48%;
}
.p-Home.Div199 {
width: 45px;
height: 45px;
margin-bottom: 33px;
}
.p-Home.Div200 {
font-family: IBM Plex Sans;
font-size: 36px;
font-weight: 700;
line-height: 130%;
}
.p-Home.Div201 {
margin-top: 115px;
}
.p-Home.FAQ {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
max-width: ;
row-gap: ;
background-color: #000000;
flex-direction: column;
}
.p-Home.Flex80 {
display: flex;
width: 85%;
max-width: 1215px;
padding-bottom: 80px;
align-items: flex-start;
justify-content: space-between;
}
.p-Home.Div212 {
width: 48%;
color: #ffffff;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #ffffff4d;
}
.p-Home.Div213 {
margin-top: 25px;
padding-bottom: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff4d;
}
.p-Home.Flex81 {
display: flex;
margin-bottom: ;
width: 100%;
align-items: center;
justify-content: space-between;
}
.p-Home.Div216 {
width: 24px;
height: 24px;
}
.p-Home.Div217 {
width: 465.922px;
max-width: 465.922px;
margin-top: 25px;
font-family: IBM Plex Sans;
font-size: 16px;
overflow: hidden;
height: 0px;
}
.p-Home.Div220 {
margin-top: 25px;
padding-bottom: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff4d;
}
.p-Home.Div219 {
width: 465.922px;
max-width: 465.922px;
margin-top: 25px;
font-family: IBM Plex Sans;
font-size: 16px;
overflow: hidden;
height: 0px;
}
.p-Home.Flex82 {
display: flex;
margin-bottom: ;
width: 100%;
align-items: center;
justify-content: space-between;
}
.p-Home.Div218 {
width: 24px;
height: 24px;
}
.p-Home.Div223 {
margin-top: 25px;
padding-bottom: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff4d;
}
.p-Home.Flex83 {
display: flex;
margin-bottom: ;
width: 100%;
align-items: center;
justify-content: space-between;
}
.p-Home.Div221 {
width: 24px;
height: 24px;
}
.p-Home.Div222 {
width: 465.922px;
max-width: 465.922px;
margin-top: 25px;
font-family: IBM Plex Sans;
font-size: 16px;
overflow: hidden;
height: 0px;
}
.p-Home.Div226 {
margin-top: 25px;
padding-bottom: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff4d;
}
.p-Home.Flex84 {
display: flex;
margin-bottom: ;
width: 100%;
align-items: center;
justify-content: space-between;
}
.p-Home.Div224 {
width: 24px;
height: 24px;
}
.p-Home.Div225 {
width: 465.922px;
max-width: 465.922px;
margin-top: 25px;
font-family: IBM Plex Sans;
font-size: 16px;
overflow: hidden;
height: 0px;
}
.p-Home.Div252 {
width: 48%;
color: #ffffff;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #ffffff4d;
}
.p-Home.Div248 {
margin-top: 25px;
padding-bottom: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff4d;
}
.p-Home.Div244 {
width: 465.922px;
max-width: 465.922px;
margin-top: 25px;
font-family: IBM Plex Sans;
font-size: 16px;
overflow: hidden;
height: 0px;
}
.p-Home.Flex89 {
display: flex;
margin-bottom: ;
width: 100%;
align-items: center;
justify-content: space-between;
}
.p-Home.Div240 {
width: 24px;
height: 24px;
}
.p-Home.Div249 {
margin-top: 25px;
padding-bottom: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff4d;
}
.p-Home.Div245 {
width: 465.922px;
max-width: 465.922px;
margin-top: 25px;
font-family: IBM Plex Sans;
font-size: 16px;
overflow: hidden;
height: 0px;
}
.p-Home.Flex90 {
display: flex;
margin-bottom: ;
width: 100%;
align-items: center;
justify-content: space-between;
}
.p-Home.Div241 {
width: 24px;
height: 24px;
}
.p-Home.Div250 {
margin-top: 25px;
padding-bottom: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff4d;
}
.p-Home.Flex91 {
display: flex;
margin-bottom: ;
width: 100%;
align-items: center;
justify-content: space-between;
}
.p-Home.Div242 {
width: 24px;
height: 24px;
}
.p-Home.Div246 {
width: 465.922px;
max-width: 465.922px;
margin-top: 25px;
font-family: IBM Plex Sans;
font-size: 16px;
overflow: hidden;
height: 0px;
}
.p-Home.Div251 {
margin-top: 25px;
padding-bottom: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff4d;
}
.p-Home.Div247 {
width: 465.922px;
max-width: 465.922px;
margin-top: 25px;
font-family: IBM Plex Sans;
font-size: 16px;
overflow: hidden;
height: 0px;
}
.p-Home.Flex92 {
display: flex;
margin-bottom: ;
width: 100%;
align-items: center;
justify-content: space-between;
}
.p-Home.Div243 {
width: 24px;
height: 24px;
}
.p-Home.Div209 {
width: 85%;
max-width: 1215px;
padding-top: 80px;
margin-bottom: 120px;
align-self: center;
text-align: center;
}
.p-Home.Div210 {
display: inline-block;
}
.p-Home.Div211 {
margin-top: 20px;
}
.p-Home.Footer {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
max-width: ;
row-gap: ;
background-color: #000000;
}
.p-Home.Div253 {
padding-top: 160px;
padding-bottom: 20px;
width: 85%;
max-width: 1215px;
color: #ffffff;
}
.p-Home.Div254 {
;
}
.p-Home.Div256 {
margin-top: 10px;
display: inline-block;
}
.p-Home.Div255 {
margin-top: 150px;
display: block;
width: 100%;
font-family: IBM Plex Sans;
color: #8a95adff;
font-weight: 600;
line-height: 140%;
font-size: 16px;
}
.p-Home.Div262 {
margin-top: 150px;
display: inline-block;
width: px;
}
.p-Home.Div263 {
margin-top: 150px;
display: inline-block;
width: px;
}
.p-Home.Div264 {
margin-top: 150px;
display: inline-block;
width: px;
}
.p-Home.Div265 {
margin-top: 150px;
display: inline-block;
width: px;
}
.p-Home.Div266 {
margin-top: 150px;
display: inline-block;
width: px;
}
.p-Home.Div267 {
margin-top: 150px;
display: inline-block;
width: px;
}
.p-Home.Div268 {
margin-top: 150px;
display: inline-block;
width: px;
}
.p-Home.Div269 {
margin-top: 150px;
display: inline-block;
width: px;
}
.p-Home.Flex93 {
display: flex;
margin-top: 80px;
align-items: flex-start;
justify-content: space-between;
}
.p-Home.Div257 {
width: 40%;
max-width: 375px;
}
.p-Home.Div259 {
margin-bottom: 15px;
max-width: 100%;
}
.p-Home.Flex94 {
display: inline-flex;
width: ;
margin-right: ;
align-items: center;
justify-content: center;
height: ;
max-width: 100%;
margin-top: 9px;
margin-bottom: 30px;
}
.p-Home.Flex95 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
column-gap: ;
row-gap: 40px;
}
.p-Home.Flex96 {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
column-gap: 100px;
row-gap: ;
}
.p-Home.Flex103 {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
column-gap: 100px;
row-gap: ;
}
.p-Home.Flex104 {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
column-gap: 100px;
row-gap: ;
}
.p-Home.Image1 {
width: 100%;
height: 100%;
align-self: center;
}
.p-Home.Button1 {
color: #000000;
background-color: #ffffff;
padding-top: 0px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
line-height: 28px;
box-sizing: border-box;
margin-right: 20px;
}
.p-Home.Button2 {
color: #000000;
background-color: #ffffff;
padding-top: 0px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
line-height: 28px;
box-sizing: border-box;
margin-right: 20px;
}
.p-Home.Button3 {
color: #000000;
background-color: #ffffff;
padding-top: 0px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
line-height: 28px;
box-sizing: border-box;
margin-right: 20px;
}
.p-Home.Button4 {
color: #000000;
background-color: #ffffff;
padding-top: 0px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
line-height: 28px;
box-sizing: border-box;
margin-right: 20px;
}
.p-Home.Button6 {
color: #000000;
background-color: #ffffff;
padding-top: 0px;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
line-height: 28px;
box-sizing: border-box;
margin-right: ;
}
.p-Home.Image3 {
width: 13px;
height: 13px;
margin-left: 8px;
}
.p-Home.TextBox4 {
color: #666666;
}
.p-Home.TextBox2 {
font-family: IBM Plex Sans;
font-weight: 700;
line-height: 110%;
font-size: 75px;
padding-right: 5px;
}
.p-Home.TextBox3 {
font-family: IBM Plex Sans;
font-size: 75px;
font-weight: 700;
line-height: 110%;
}
.p-Home.Button28 {
color: #fff;
background-color: #000000;
padding-top: 20px;
padding-left: 30px;
padding-bottom: 20px;
padding-right: 30px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
position: relative;
font-family: IBM Plex Sans;
line-height: 130%;
box-sizing: border-box;
max-width: 100%;
z-index: 1;
}
.p-Home.Button29 {
color: #fff;
background-color: #000000;
padding-top: 20px;
padding-left: 30px;
padding-bottom: 20px;
padding-right: 30px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
position: absolute;
font-family: IBM Plex Sans;
line-height: 130%;
box-sizing: border-box;
max-width: 100%;
width: 100%;
height: 100%;
top: 7px;
left: 7px;
}
.p-Home.Button32 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 700;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
line-height: 100%;
position: relative;
}
.p-Home.Image13 {
width: 14px;
height: 14px;
box-sizing: border-box;
margin-left: 14px;
}
.p-Home.Image12 {
width: 100%;
height: 100%;
}
.p-Home.TextBox6 {
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 500;
line-height: 100%;
}
.p-Home.Image15 {
width: 100%;
height: 15px;
}
.p-Home.Image16 {
width: 100%;
height: 31.5px;
}
.p-Home.Image17 {
width: 100%;
height: 31.5px;
}
.p-Home.Image18 {
width: 100%;
height: 31.5px;
}
.p-Home.TextBox8 {
font-family: IBM Plex Sans;
font-size: 54px;
font-weight: 700;
line-height: 110%;
text-align: center;
}
.p-Home.TextBox25 {
align-self: center;
text-align: center;
font-family: IBM Plex Sans;
font-size: 22px;
font-weight: 700;
line-height: 100%;
}
.p-Home.Image19 {
width: 70px;
height: 70px;
}
.p-Home.TextBox9 {
margin-top: 42px;
margin-bottom: 20px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
line-height: 110%;
}
.p-Home.TextBox10 {
width: 100%;
height: auto;
line-height: 28px;
font-family: IBM Plex Sans;
font-size: 16px;
color: #666666;
font-weight: 500;
}
.p-Home.Div36 {
width: 7px;
height: 7px;
border-radius: 50%;
background-color: #000000;
display: inline-block;
align-self: center;
}
.p-Home.TextBox11 {
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 700;
line-height: 28px;
}
.p-Home.Div39 {
width: 7px;
height: 7px;
border-radius: 50%;
background-color: #000000;
display: inline-block;
align-self: center;
}
.p-Home.TextBox12 {
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 700;
line-height: 28px;
}
.p-Home.Div41 {
width: 7px;
height: 7px;
border-radius: 50%;
background-color: #000000;
display: inline-block;
align-self: center;
}
.p-Home.TextBox13 {
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 700;
line-height: 28px;
}
.p-Home.TextBox18 {
margin-top: 42px;
margin-bottom: 20px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
line-height: 110%;
}
.p-Home.Image20 {
width: 70px;
height: 70px;
}
.p-Home.Div45 {
width: 7px;
height: 7px;
border-radius: 50%;
background-color: #000000;
display: inline-block;
align-self: center;
}
.p-Home.TextBox14 {
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 700;
line-height: 28px;
}
.p-Home.Div46 {
width: 7px;
height: 7px;
border-radius: 50%;
background-color: #000000;
display: inline-block;
align-self: center;
}
.p-Home.TextBox15 {
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 700;
line-height: 28px;
}
.p-Home.Div49 {
width: 7px;
height: 7px;
border-radius: 50%;
background-color: #000000;
display: inline-block;
align-self: center;
}
.p-Home.TextBox16 {
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 700;
line-height: 28px;
}
.p-Home.TextBox17 {
width: 100%;
height: auto;
line-height: 28px;
font-family: IBM Plex Sans;
font-size: 16px;
color: #666666;
font-weight: 500;
}
.p-Home.TextBox23 {
margin-top: 42px;
margin-bottom: 20px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 24px;
line-height: 110%;
}
.p-Home.Image21 {
width: 70px;
height: 70px;
}
.p-Home.Div57 {
width: 7px;
height: 7px;
border-radius: 50%;
background-color: #000000;
display: inline-block;
align-self: center;
}
.p-Home.TextBox19 {
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 700;
line-height: 28px;
}
.p-Home.Div58 {
width: 7px;
height: 7px;
border-radius: 50%;
background-color: #000000;
display: inline-block;
align-self: center;
}
.p-Home.TextBox20 {
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 700;
line-height: 28px;
}
.p-Home.Div61 {
width: 7px;
height: 7px;
border-radius: 50%;
background-color: #000000;
display: inline-block;
align-self: center;
}
.p-Home.TextBox21 {
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 700;
line-height: 28px;
}
.p-Home.TextBox22 {
width: 100%;
height: auto;
line-height: 28px;
font-family: IBM Plex Sans;
font-size: 16px;
color: #666666;
font-weight: 500;
}
.p-Home.TextBox26 {
font-family: IBM Plex Sans;
font-size: 22px;
font-weight: 700;
line-height: 100%;
}
.p-Home.TextBox27 {
font-family: IBM Plex Sans;
font-size: 54px;
font-weight: 700;
line-height: 100%;
}
.p-Home.TextBox28 {
font-family: IBM Plex Sans;
font-size: 54px;
font-weight: 700;
line-height: 110%;
}
.p-Home.Button35 {
color: #fff;
background-color: #000000;
padding-top: 20px;
padding-left: 30px;
padding-bottom: 20px;
padding-right: 30px;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 600;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
width: 100%;
height: 100%;
font-family: IBM Plex Sans;
line-height: 100%;
z-index: 2;
position: relative;
}
.p-Home.Button36 {
color: #fff;
background-color: #1890ff;
padding-top: 20px;
padding-left: 30px;
padding-bottom: 20px;
padding-right: 30px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
width: 100%;
height: 100%;
position: absolute;
top: 7px;
left: 7px;
z-index: 1;
}
.p-Home.Image22 {
width: 100%;
height: 100%;
}
.p-Home.BRANDING {
font-size: 14px;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Soulful_Rebrand {
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 700;
line-height: 110%;
}
.p-Home.Button37 {
color: #000000;
background-color: #ffffff;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
line-height: 100%;
}
.p-Home.Image23 {
width: 15px;
height: 15px;
margin-left: 10px;
}
.p-Home.Image29 {
width: 100%;
height: 100%;
}
.p-Home.Image28 {
width: 15px;
height: 15px;
margin-left: 10px;
}
.p-Home.Button40 {
color: #000000;
background-color: #ffffff;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
line-height: 100%;
}
.p-Home.TextBox35 {
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 700;
line-height: 110%;
}
.p-Home.TextBox36 {
font-size: 14px;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Image31 {
width: 100%;
height: 100%;
}
.p-Home.Image30 {
width: 15px;
height: 15px;
margin-left: 10px;
}
.p-Home.Button41 {
color: #000000;
background-color: #ffffff;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
line-height: 100%;
}
.p-Home.TextBox37 {
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 700;
line-height: 110%;
}
.p-Home.TextBox38 {
font-size: 14px;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Image33 {
width: 100%;
height: 100%;
}
.p-Home.Image32 {
width: 15px;
height: 15px;
margin-left: 10px;
}
.p-Home.Button42 {
color: #000000;
background-color: #ffffff;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
line-height: 100%;
}
.p-Home.TextBox39 {
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 700;
line-height: 110%;
}
.p-Home.TextBox40 {
font-size: 14px;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Image35 {
width: 100%;
height: 100%;
}
.p-Home.Image34 {
width: 15px;
height: 15px;
margin-left: 10px;
}
.p-Home.Button43 {
color: #000000;
background-color: #ffffff;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: IBM Plex Sans;
line-height: 100%;
}
.p-Home.TextBox41 {
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 700;
line-height: 110%;
}
.p-Home.TextBox42 {
font-size: 14px;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Image36 {
width: ;
}
.p-Home.Image38 {
;
}
.p-Home.TextBox43 {
background-color: #000000;
font-family: IBM Plex Sans;
font-size: 22px;
line-height: 100%;
font-weight: 700;
color: #ffffff;
}
.p-Home.TextBox44 {
background-color: #000000;
color: #ffffff;
font-family: IBM Plex Sans;
font-size: 54px;
font-weight: 700;
line-height: 110%;
margin-bottom: 30px;
}
.p-Home.TextBox45 {
background-color: #000000;
color: #ffffff;
}
.p-Home.Image48 {
;
}
.p-Home.TextBox46 {
font-family: IBM Plex Sans;
color: #ffffffb3;
}
.p-Home.Div120 {
width: 3px;
height: 3px;
margin-top: 5px;
margin-left: 8px;
background-color: #ffffffff;
border-radius: 50%;
}
.p-Home.TextBox47 {
font-family: IBM Plex Sans;
color: #ffffffb3;
margin-left: 3px;
line-height: 100%;
font-weight: 400;
}
.p-Home.Image40 {
;
}
.p-Home.TextBox51 {
color: #ffffff;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 500;
line-height: 100%;
width: ;
margin-top: ;
margin-bottom: ;
}
.p-Home.TextBox48 {
color: #ffffff;
font-family: IBM Plex Sans;
font-size: 28px;
font-weight: 700;
line-height: 36px;
width: ;
margin-top: 10px;
margin-bottom: 10px;
}
.p-Home.TextBox54 {
color: #ffffff;
font-family: IBM Plex Sans;
font-size: 28px;
font-weight: 700;
line-height: 36px;
width: ;
margin-top: 10px;
margin-bottom: 10px;
}
.p-Home.TextBox53 {
color: #ffffff;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 500;
line-height: 100%;
width: ;
margin-top: ;
margin-bottom: ;
}
.p-Home.Image43 {
;
}
.p-Home.TextBox55 {
font-family: IBM Plex Sans;
color: #ffffffb3;
margin-left: 3px;
line-height: 100%;
font-weight: 400;
}
.p-Home.Div130 {
width: 3px;
height: 3px;
margin-top: 5px;
margin-left: 8px;
background-color: #ffffffff;
border-radius: 50%;
}
.p-Home.TextBox56 {
font-family: IBM Plex Sans;
color: #ffffffb3;
}
.p-Home.TextBox58 {
color: #ffffff;
font-family: IBM Plex Sans;
font-size: 28px;
font-weight: 700;
line-height: 36px;
width: ;
margin-top: 10px;
margin-bottom: 10px;
}
.p-Home.TextBox57 {
color: #ffffff;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 500;
line-height: 100%;
width: ;
margin-top: ;
margin-bottom: ;
}
.p-Home.Image44 {
;
}
.p-Home.TextBox59 {
font-family: IBM Plex Sans;
color: #ffffffb3;
margin-left: 3px;
line-height: 100%;
font-weight: 400;
}
.p-Home.Div136 {
width: 3px;
height: 3px;
margin-top: 5px;
margin-left: 8px;
background-color: #ffffffff;
border-radius: 50%;
}
.p-Home.TextBox60 {
font-family: IBM Plex Sans;
color: #ffffffb3;
}
.p-Home.TextBox62 {
color: #ffffff;
font-family: IBM Plex Sans;
font-size: 28px;
font-weight: 700;
line-height: 36px;
width: ;
margin-top: 10px;
margin-bottom: 10px;
}
.p-Home.TextBox61 {
color: #ffffff;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 500;
line-height: 100%;
width: ;
margin-top: ;
margin-bottom: ;
}
.p-Home.Image45 {
;
}
.p-Home.TextBox63 {
font-family: IBM Plex Sans;
color: #ffffffb3;
margin-left: 3px;
line-height: 100%;
font-weight: 400;
}
.p-Home.Div142 {
width: 3px;
height: 3px;
margin-top: 5px;
margin-left: 8px;
background-color: #ffffffff;
border-radius: 50%;
}
.p-Home.TextBox64 {
font-family: IBM Plex Sans;
color: #ffffffb3;
}
.p-Home.TextBox66 {
color: #ffffff;
font-family: IBM Plex Sans;
font-size: 28px;
font-weight: 700;
line-height: 36px;
width: ;
margin-top: 10px;
margin-bottom: 10px;
}
.p-Home.TextBox65 {
color: #ffffff;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 500;
line-height: 100%;
width: ;
margin-top: ;
margin-bottom: ;
}
.p-Home.Image46 {
;
}
.p-Home.TextBox67 {
font-family: IBM Plex Sans;
color: #ffffffb3;
margin-left: 3px;
line-height: 100%;
font-weight: 400;
}
.p-Home.Div148 {
width: 3px;
height: 3px;
margin-top: 5px;
margin-left: 8px;
background-color: #ffffffff;
border-radius: 50%;
}
.p-Home.TextBox68 {
font-family: IBM Plex Sans;
color: #ffffffb3;
}
.p-Home.TextBox90 {
font-family: IBM Plex Sans;
font-size: 22px;
font-weight: 700;
line-height: 100%;
margin-bottom: 15px;
}
.p-Home.TextBox91 {
font-family: IBM Plex Sans;
font-size: 54px;
font-weight: 700;
line-height: 100%;
}
.p-Home.TextBox92 {
font-family: IBM Plex Sans;
font-size: 21px;
line-height: 40px;
font-weight: 600;
}
.p-Home.Image49 {
width: 100%;
height: 100%;
}
.p-Home.Image50 {
width: 100%;
height: 100%;
min-height: ;
}
.p-Home.Image51 {
width: 100%;
height: 100%;
}
.p-Home.Image52 {
width: 100%;
height: 100%;
}
.p-Home.TextBox93 {
font-family: IBM Plex Sans;
font-size: 36px;
font-weight: 700;
line-height: 100%;
margin-bottom: 80px;
}
.p-Home.Image53 {
position: absolute;
width: 25px;
height: 25px;
margin-left: 30px;
top: 0;
right: 0;
}
.p-Home.TextBox94 {
margin-bottom: 14px;
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 500;
line-height: 110%;
}
.p-Home.TextBox95 {
font-family: IBM Plex Sans;
font-size: 16px;
line-height: 130%;
color: #00000099;
font-weight: 600;
}
.p-Home.TextBox96 {
min-width: 85px;
margin-right: 60px;
font-family: IBM Plex Sans;
font-size: 16px;
line-height: 130%;
font-weight: 600;
background-color: #ffffff;
color: #00000099;
}
.p-Home.Image54 {
position: absolute;
width: 25px;
height: 25px;
margin-left: 30px;
top: 0;
right: 0;
}
.p-Home.TextBox97 {
min-width: 85px;
margin-right: 60px;
font-family: IBM Plex Sans;
font-size: 16px;
line-height: 130%;
font-weight: 600;
background-color: #ffffff;
color: #00000099;
}
.p-Home.TextBox98 {
font-family: IBM Plex Sans;
font-size: 16px;
line-height: 130%;
color: #00000099;
font-weight: 600;
}
.p-Home.TextBox99 {
margin-bottom: 14px;
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 500;
line-height: 110%;
}
.p-Home.Image55 {
position: absolute;
width: 25px;
height: 25px;
margin-left: 30px;
top: 0;
right: 0;
}
.p-Home.TextBox100 {
min-width: 85px;
margin-right: 60px;
font-family: IBM Plex Sans;
font-size: 16px;
line-height: 130%;
font-weight: 600;
background-color: #ffffff;
color: #00000099;
}
.p-Home.TextBox101 {
font-family: IBM Plex Sans;
font-size: 16px;
line-height: 130%;
color: #00000099;
font-weight: 600;
}
.p-Home.TextBox102 {
margin-bottom: 14px;
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 500;
line-height: 110%;
}
.p-Home.TextBox112 {
font-family: IBM Plex Sans;
font-size: 36px;
font-weight: 700;
line-height: 100%;
margin-bottom: 80px;
}
.p-Home.Image58 {
position: absolute;
width: 25px;
height: 25px;
margin-left: 30px;
top: 0;
right: 0;
}
.p-Home.TextBox109 {
min-width: 150px;
margin-right: 60px;
font-family: IBM Plex Sans;
font-size: 16px;
line-height: 130%;
font-weight: 600;
background-color: #ffffff;
color: #00000099;
}
.p-Home.TextBox110 {
font-family: IBM Plex Sans;
font-size: 16px;
line-height: 130%;
color: #00000099;
font-weight: 600;
}
.p-Home.TextBox111 {
margin-bottom: 14px;
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 500;
line-height: 110%;
}
.p-Home.Image59 {
width: 50px;
height: 50px;
}
.p-Home.Image65 {
position: absolute;
width: 25px;
height: 25px;
margin-left: 30px;
top: 0;
right: 0;
}
.p-Home.Image64 {
width: 50px;
height: 50px;
}
.p-Home.TextBox119 {
margin-bottom: 14px;
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 500;
line-height: 110%;
}
.p-Home.TextBox120 {
font-family: IBM Plex Sans;
font-size: 16px;
line-height: 130%;
color: #00000099;
font-weight: 600;
}
.p-Home.TextBox121 {
min-width: 150px;
margin-right: 60px;
font-family: IBM Plex Sans;
font-size: 16px;
line-height: 130%;
font-weight: 600;
background-color: #ffffff;
color: #00000099;
}
.p-Home.Image67 {
position: absolute;
width: 25px;
height: 25px;
margin-left: 30px;
top: 0;
right: 0;
}
.p-Home.Image66 {
width: 50px;
height: 50px;
}
.p-Home.TextBox122 {
margin-bottom: 14px;
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 500;
line-height: 110%;
}
.p-Home.TextBox123 {
font-family: IBM Plex Sans;
font-size: 16px;
line-height: 130%;
color: #00000099;
font-weight: 600;
min-width: 180px;
}
.p-Home.TextBox124 {
min-width: 150px;
margin-right: 60px;
font-family: IBM Plex Sans;
font-size: 16px;
line-height: 130%;
font-weight: 600;
background-color: #ffffff;
color: #00000099;
}
.p-Home.TextBox125 {
font-family: IBM Plex Sans;
font-size: 22px;
font-weight: 700;
line-height: 100%;
}
.p-Home.TextBox126 {
font-family: IBM Plex Sans;
font-size: 54px;
font-weight: 700;
line-height: 110%;
}
.p-Home.Div207 {
position: absolute;
bottom: 0;
}
.p-Home.Div208 {
position: absolute;
bottom: 0;
right: 0;
}
.p-Home.Image68 {
width: 100%;
height: 100%;
}
.p-Home.Image69 {
width: 100%;
height: 100%;
max-width: 100%;
}
.p-Home.TextBox127 {
;
}
.p-Home.TextBox128 {
margin-bottom: 8px;
font-family: IBM Plex Sans;
font-size: 20px;
font-weight: 700;
line-height: 100%;
}
.p-Home.TextBox129 {
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 500;
line-height: 100%;
}
.p-Home.TextBox135 {
font-family: IBM Plex Sans;
font-size: 24px;
line-height: 130%;
font-weight: 500;
}
.p-Home.Image72 {
width: 100%;
height: 100%;
}
.p-Home.TextBox136 {
font-family: IBM Plex Sans;
font-size: 18px;
line-height: 150%;
color: #666666;
}
.p-Home.TextBox137 {
font-family: IBM Plex Sans;
font-size: 18px;
line-height: 150%;
color: #666666;
}
.p-Home.TextBox138 {
font-family: IBM Plex Sans;
font-size: 24px;
line-height: 130%;
font-weight: 500;
}
.p-Home.Image73 {
width: 100%;
height: 100%;
}
.p-Home.TextBox139 {
font-family: IBM Plex Sans;
font-size: 24px;
line-height: 130%;
font-weight: 500;
}
.p-Home.Image74 {
width: 100%;
height: 100%;
}
.p-Home.TextBox140 {
font-family: IBM Plex Sans;
font-size: 18px;
line-height: 150%;
color: #666666;
}
.p-Home.TextBox141 {
font-family: IBM Plex Sans;
font-size: 24px;
line-height: 130%;
font-weight: 500;
}
.p-Home.Image75 {
width: 100%;
height: 100%;
}
.p-Home.TextBox142 {
font-family: IBM Plex Sans;
font-size: 18px;
line-height: 150%;
color: #666666;
}
.p-Home.TextBox151 {
font-family: IBM Plex Sans;
font-size: 18px;
line-height: 150%;
color: #666666;
}
.p-Home.TextBox152 {
font-family: IBM Plex Sans;
font-size: 24px;
line-height: 130%;
font-weight: 500;
}
.p-Home.Image80 {
width: 100%;
height: 100%;
}
.p-Home.TextBox153 {
font-family: IBM Plex Sans;
font-size: 18px;
line-height: 150%;
color: #666666;
}
.p-Home.TextBox154 {
font-family: IBM Plex Sans;
font-size: 24px;
line-height: 130%;
font-weight: 500;
}
.p-Home.Image81 {
width: 100%;
height: 100%;
}
.p-Home.TextBox155 {
font-family: IBM Plex Sans;
font-size: 24px;
line-height: 130%;
font-weight: 500;
}
.p-Home.Image82 {
width: 100%;
height: 100%;
}
.p-Home.TextBox156 {
font-family: IBM Plex Sans;
font-size: 18px;
line-height: 150%;
color: #666666;
}
.p-Home.TextBox159 {
font-family: IBM Plex Sans;
font-size: 18px;
line-height: 150%;
color: #666666;
height: 30px;
}
.p-Home.TextBox160 {
font-family: IBM Plex Sans;
font-size: 18px;
line-height: 150%;
color: #666666;
}
.p-Home.TextBox157 {
font-family: IBM Plex Sans;
font-size: 18px;
line-height: 150%;
color: #666666;
}
.p-Home.TextBox158 {
font-family: IBM Plex Sans;
font-size: 24px;
line-height: 130%;
font-weight: 500;
}
.p-Home.Image83 {
width: 100%;
height: 100%;
}
.p-Home.TextBox133 {
color: #ffffff;
text-align: center;
font-family: IBM Plex Sans;
font-size: 22px;
font-weight: 700;
line-height: 100%;
}
.p-Home.TextBox134 {
color: #ffffff;
text-align: center;
font-family: IBM Plex Sans;
font-size: 54px;
font-weight: 700;
line-height: 110%;
}
.p-Home.TextBox162 {
font-family: IBM Plex Sans;
font-size: 54px;
font-weight: 700;
line-height: 110%;
}
.p-Home.Link2 {
font-family: IBM Plex Sans;
font-size: 54px;
font-weight: 700;
line-height: 110%;
}
.p-Home.TextBox178 {
;
}
.p-Home.TextBox179 {
cursor: pointer;
}
.p-Home.TextBox180 {
;
}
.p-Home.TextBox181 {
cursor: pointer;
}
.p-Home.TextBox182 {
cursor: pointer;
}
.p-Home.TextBox183 {
cursor: pointer;
}
.p-Home.TextBox184 {
cursor: pointer;
}
.p-Home.TextBox185 {
cursor: pointer;
}
.p-Home.TextBox163 {
font-family: IBM Plex Sans;
line-height: 28px;
font-size: 16px;
color: #666666;
}
.p-Home.Image84 {
max-width: 100%;
cursor: pointer;
}
.p-Home.Image86 {
max-width: ;
cursor: pointer;
width: 30px;
height: 21px;
margin-right: 6px;
}
.p-Home.TextBox166 {
font-family: IBM Plex Sans;
font-size: 17px;
font-weight: 700;
line-height: 36px;
color: #5c5c5cff;
cursor: pointer;
}
.p-Home.TextBox167 {
width: 100px;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 600;
line-height: 100%;
cursor: pointer;
}
.p-Home.TextBox168 {
width: 100px;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 600;
line-height: 100%;
cursor: pointer;
}
.p-Home.TextBox169 {
width: 100px;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 600;
line-height: 100%;
cursor: pointer;
}
.p-Home.TextBox170 {
width: 100px;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 600;
line-height: 100%;
cursor: pointer;
}
.p-Home.TextBox171 {
width: 100px;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 600;
line-height: 100%;
cursor: pointer;
}
.p-Home.TextBox172 {
width: 100px;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 600;
line-height: 100%;
cursor: pointer;
}
.p-Home.TextBox173 {
width: 100px;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 600;
line-height: 100%;
cursor: pointer;
}
.p-Home.TextBox174 {
width: 100px;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 600;
line-height: 100%;
cursor: pointer;
}
.p-Home.TextBox175 {
width: 100px;
font-family: IBM Plex Sans;
font-size: 18px;
font-weight: 600;
line-height: 100%;
cursor: pointer;
}
